body{
  overflow-y:scroll; //always show scrollbar
}

@media screen and (min-width: 900px){
  .grid{
    margin:0 auto;
  }
  .grid-item {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

@media screen and (max-width:900px && min-width:500px){
  .grid{
    margin:0 auto;
  }
  .grid-item{
    width:50%;
    display: inline-block;
    position: relative;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

@media screen and (max-width: 500px){
  .grid{
    margin:0 auto;
  }
  .grid-item{
    width:100%;
    display: inline-block;
    position: relative;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

.grid-item img {
  display: block;
  max-width: 100%;
  border:1px solid #fff;
  border-radius:50px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: fixed;
  background: #ffffff;
  width: 25%;
  height: 25%;
  left: 50%;
  top:50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 5px 10px 18px #888888;
  border-radius:25px;
  padding:1%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}


.avatar{
  width: 100px;
  height:100px;
  border-radius:50%;
}

h5{
  padding-top:1rem;
}


.page-load-status {
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.pin_form{
  padding:1%;
  margin-top:2%;
  margin-left:20%;
  margin-right:20%;
  border:1px solid #fff;
  border-radius:25px;
  background-color:#fff;
}
