body{
  overflow-y:scroll; //always show scrollbar
}

@media screen and (min-width: 900px){
  .grid{
    margin:0 auto;
  }
  .grid-item {
    display: inline-block;
    position: relative;
    width: 20%;
    height: auto;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

@media screen and (max-width:900px) and (min-width:500px){
  .grid{
    margin:0 auto;
  }
  .grid-item{
    width:50%;
    display: inline-block;
    position: relative;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

@media screen and (max-width: 500px){
  .grid{
    margin:0 auto;
  }
  .grid-item{
    width:100%;
    display: inline-block;
    position: relative;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
    border:1px solid #fff;
    border-radius:50px;
  }
}

.grid-item img {
  display: block;
  max-width: 100%;
  border:1px solid #fff;
  border-radius:50px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: fixed;
  background: #ffffff;
  width: 25%;
  height: 25%;
  left: 50%;
  top:50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 5px 10px 18px #888888;
  border-radius:25px;
  padding:1%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}


.avatar{
  width: 100px;
  height:100px;
  border-radius:50%;
}

h5{
  padding-top:1rem;
}


.page-load-status {
  padding-top: 20px;
  margin-top: 1%;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.pin_form, .board_form{
  padding:1%;
  margin-top:2%;
  margin-left:20%;
  margin-right:20%;
  border:1px solid #fff;
  border-radius:25px;
  background-color:#fff;
}

.profile-bio{
  text-align:center;
  padding:5%;
  margin-left: 20%;
  margin-top:2%;
  margin-right: 20%;
}

/* Container holding the image and the text */
.image-box, .pin-image{
  position: relative;
  display:flex;
  text-align: center;
  margin:1%;
  height:100%;
  width:100%;
}

.image-box{
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    opacity:0.95;
}

.image-box:hover, .pin-image:hover{
    opacity:0.8;
}

.bigger-picture{
  position:relative;
  height:300px;
  width:300px;
}

.bigger-picture img{
  height:100%;
  width:inherit;
}

.two-small-picks{
  height:150px;
  position:relative;
  display:flex;
  flex:0 0 auto;
  flex-direction:column;
}

.two-small-picks img{
  height:100%;
  width:auto;
}

.submit-text{
    background-color:transparent;
    z-index:2;
    color:white;
    border:none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size:1.7em;
    transition: 0.3s;
    text-shadow:0px 0px 3px Lightgray;
}

.submit-text:hover{
    color:lemonchiffon;
}

.middle{
  border:1px solid #d9d9d9;
  border-radius:30px;
  position:relative;
  display:flex;
  margin:0 auto;
  height:auto;
  max-width:60%;
}

.pin-info-image{
position:relative;
height:auto;
width:50%;
}

.pin-info-image img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.info{
position:relative;
width:50%;
padding:2%;
}

.table-text{
  font-size:18px;
}

.table-link-delete{
  font-size:18px;
  color:white;
  background-color:red;
  padding:10px;
  border-radius:2px;
}

.table-link-delete:hover{
  color:black;
  background-color: lightsalmon;
  text-decoration: none;
  transition: 0.3s;
}
